<body id="about-us">
  <h1 class="header-about">About Us</h1>

  <div class="well about-well">
    <h2 class="team-header">Our Story</h2>
    <p class="p-about">A group of <a href="https://www.epicodus.com/">Epicodus</a> students were talking after class when the conversation shifted to talking about traveling. The students talked about how Jiuzhaigou National Park, a beautiful, one of a kind park in China, was recently struck by a  <a href="http://www.dailymail.co.uk/news/article-4778112/Images-damage-caused-Chinese-earthquake.html">7.0-magnitude earthquake</a> causing the entire park to be destroyed.</p>

    <img src="img/juizhaigou-before.jpg" alt="Juizhaigou Before Earthquake" class="jiuzhai-img">
    <p class="about-img-text">Jiuzhaigou National Park before the earthquake</p>

    <img src="img/juizhaigou-after.jpg" alt="Juizhaigou After Earthquake" class="jiuzhai-img">
    <p class="about-img-text">Jiuzhaigou National Park after the earthquake</p>

    <hr class="about-hr">

    <h2 class="team-header">The Team</h2>
    <img src="img/group.JPG" alt="Group photo" class="group-img">

    <p class="p-about">This story motivated the group to build this <strong>Travel Forum</strong> - a place where users can share their travel experiences, tips, recommendations, and more.</p>

    <p class="p-about">Our goal is to not only provide a space for users to share but also a place for users to read and be inspired to travel more.</p>
    <div class="container">
      <a href="/" class="btn btn-default about-view-post-btn">View Posts</a>
    </div>
  </div>
</body>
