.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
#index {
  background-color: #fcfaea;
}
.index-view {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20%;
  font-size: 18px;
}
.overlay-desc h1 {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 200px;
  letter-spacing: 10px;
}
#nav {
  background-color: #123740;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: .65%;
}

.navbar-travel-forum {
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  color: #549aab;
}

.navbar-about {
  text-align: center;
  font-size: 20px;
  margin-left: 50px;
  letter-spacing: 4px;
  color: #549aab;
}

.navbar-travel-forum:hover {
  text-decoration: none;
  color: #b0d7e1;
}

.world {
  width: 2%;
}

.index-row-1 {
  padding: 1% 5% 1% 5%;
  background-color: #123740;
  margin-bottom: 1%;
}

.h3-row-1 {
  color: #ffffff;
}
.new-post-button {
  font-size: 20px;
  padding-left: 20px 30px 20px 30px;
  float: right;
}

.all-posts-button {
  font-size: 18px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 1%;
}

.post-title {
  font-size: 30px;
  color: #549aab;
}

.post-title:hover {
  text-decoration: none;
  color: #123740;
}

.tag-links {
  color: #123740;
}

.tag-links:hover {
  color: #549aab;
  text-decoration: none;
}

.index-labels {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2px;
}

.post-type {
  font-size: 50px;
  text-align: center;
  letter-spacing: 3px;
}
#about-us {
  background-image: url("/img/melissa-313558.jpg");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-about {
  margin: 0;
  margin-bottom: 3%;
  padding: 15%;
  text-align: center;
  letter-spacing: 10px;
  color: #123740;
  font-size: 50px;
}
.about-well {
  background: #fcfaea;
  margin-bottom: 0;
}
.p-about {
  font-size: 20px;
  margin: 3% 10% 3% 10%;
  text-align: center;
}
.jiuzhai-img, .group-img {
  width: 50%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
.group-img {
  margin-bottom: 30px;
}
.about-img-text {
  text-align: center;
  margin-bottom: 20px;
}
.team-header {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-size: 40px;
}
.about-hr {
  border: solid .5px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.about-view-post-btn {
  display: block;
  margin: 10% 30% 15% 30%;
  padding: 15px 25px 15px 25px;
  background: #123740;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 5px;
  border: solid 4px #123740;
}
.about-view-post-btn:hover {
  background-color: #549aab;
  border: solid #549aab 4px;
}

.post-form-jumbo {
  text-align: center;
}

.place-dropdown {
  text-align: center;
}

select {
  z-index: 1000;
}

.user-form-info {
  text-align: center;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: center!important;
}

.post-form-area {
  text-align: center;
}

.post-main {
  margin-bottom: 10%;
}

.button-post-form {
  text-align: center;
}

.index-tags-well {
  background-color: #b0d7e1;
}

.index-hr {
  border: solid 1px #123740;
}

.summary-row {
  text-align: center;
}

.summary-row p{
  font-size: 24px;
}

.summary-row h4{
  font-size: 32px;
}

.post-summary-text p{
  font-size: 16px;
  margin-top:2%;
}

.summary-buttons {
  text-align: center;
  margin-top: 2%;
}

.post-summary-head {
  text-align: center;
}

.tag-well {
  margin-top: 4%;
  text-align: center;
}

.post-details-text h4{
  font-size: 24px;
  margin-top: 4%;
}

.post-details-text h3{
  font-size: 36px;
}

.post-details-body-text p{
  font-size: 16px;
}

.reply-button {
  margin-top:3%;
}

footer p{
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #123740;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: .65%;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

body {
  background-color: #fcfaea!important;
}
