.post-form-jumbo {
  text-align: center;
}

.place-dropdown {
  text-align: center;
}

select {
  z-index: 1000;
}

.user-form-info {
  text-align: center;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: center!important;
}

.post-form-area {
  text-align: center;
}

.post-main {
  margin-bottom: 10%;
}

.button-post-form {
  text-align: center;
}
