<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Travel Forum</title>
  <link rel='stylesheet'
  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="/js/scripts.js"></script>
</head>
<body>
  <nav id="nav" class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-travel-forum" href="/">Travilo</a>
    </div>
   </nav>
    @RenderBody()
     <footer>
        <p>&copy; @DateTime.Now.Year - Travilo | <a href="/about-us" >About us</a></p>
     </footer>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</body>
</html>
